.btn{
    padding: 2rem 6rem;
    border-radius: 1rem;
    background-color: #fff;
    color: red;
    text-transform: uppercase;
    margin-top: 2rem;
    font-size: 1.6rem;
    font-weight: 700;
    transition: all 0.2s;
    cursor: pointer;
    &:hover{
        background-color: #f3f3f3;
    }
    &--secondary{
        position: absolute;
        bottom: 10%;
        right: 10%;
        padding: 2rem 4rem;
        text-transform: uppercase;
        background-color:transparent;
        border: .2rem solid #fff;
        color: #fff;
        border-radius: .8rem;
        font-size: 2rem;
        cursor: pointer;
    }
}