.score{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
    background-color: #fff;
    border-radius: 2rem;
    width: 20%;
    &__text{
        font-size: 2rem;
        color: $score-text;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .1rem;
    }
    &__number{
        font-size: 8rem;
        color:$dark-text;
        font-weight: 700;
    }
}

