*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


body{
    box-sizing: border-box;
    font-size: 1.6rem;
}


.container{
    max-width: 1100px;
    height: 100vh;
    margin: 0 auto;
    background-color: #777;;
}