.header {
  border: 0.5rem solid hsl(217, 16%, 45%);
  border-radius: 3rem;
  padding: 3rem 4rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.header__text {
  width: 25%;
  display: inline-block;
}
.header__text--h1 {
  font-size: 5em;
  text-transform: uppercase;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem;
  background-color: #fff;
  border-radius: 2rem;
  width: 20%;
}
.score__text {
  font-size: 2rem;
  color: hsl(229, 64%, 46%);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.score__number {
  font-size: 8rem;
  color: hsl(229, 25%, 31%);
  font-weight: 700;
}

.triangle {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 50rem;
  width: 50%;
  margin: 0 auto;
  position: relative;
}
.triangle > :nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-10%, -25%);
  background: linear-gradient(to right, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}
.triangle > :nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(10%, -25%);
  background: linear-gradient(to right, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}
.triangle > :nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to right, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}

.hand {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}
.hand__box {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6.5rem;
}
.hand__box__icon {
  height: 4rem;
  width: 4rem;
  transition: all 0.2s;
  transform: scale(1.5);
}
.hand__box:hover .hand__box__icon {
  transform: scale(1.6);
}

.result {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  text-align: center;
}
.result .choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12rem;
}
.result .choice--text {
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.2rem;
}
.result .hand {
  transform: scale(1.3);
}

.winner h1 {
  font-size: 6rem;
  text-transform: uppercase;
  color: #fff;
}

.btn {
  padding: 2rem 6rem;
  border-radius: 1rem;
  background-color: #fff;
  color: red;
  text-transform: uppercase;
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: 700;
  transition: all 0.2s;
  cursor: pointer;
}
.btn:hover {
  background-color: #f3f3f3;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-image: linear-gradient(to right, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  font-family: "Barlow Semi Condensed", sans-serif;
}

.container {
  max-width: 1366px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 12rem;
}

@media (max-width: 1100px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 30%;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 25%;
  }
}
@media (max-width: 300px) {
  html {
    font-size: 20%;
  }
}

/*# sourceMappingURL=style.css.map */
